#calendar-time-container{
	position: absolute;
	bottom: 75px;
	left: 223px;
	display: block;
	height: fit-content;
}
#calendar{
min-width: 150px;
grid-row: 1;
grid-column: 1;
width: fit-content;
height: 75px;
margin: 0;
padding: 0;
border: 1px solid #000;
border-radius: 3%;
background: rgba(0, 0, 0, 0.5);
}
#calendar-hdr{
	display: grid;
	font-size: 16px;
	margin: 3px;
	padding: 4px;
	text-align: center;
	height: 25px;
	width: fit-content;
	min-width: 200px;
	border-bottom: 1px solid #111;
}
#calendar-date{
	grid-row: 1;
	grid-column: 2;
	float: left;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	color: #CCC;
	cursor: pointer;
}

#calendar-date,
#calendar-date-num {
	transition: 0.2s;
}
#calendar-date-num {
	grid-row: 1;
	grid-column: 2;
	float: left;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	color: #CCC;
	opacity: 0;
	cursor: pointer;
}

#calendar-hdr:hover #calendar-date {
	opacity: 0;
}
#calendar-hdr:hover #calendar-date-num{
	opacity: 1;
}
#calendar-events{
	grid-row: 1;
	grid-column: 1;
	float: left; 
	margin-right: 5px;
	width: 10%;
	text-align: center; 
}
#calendar-events:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

#calendar-weather{
	grid-row: 1;
	grid-column: 3;
	float: inline-end; 
	margin-left: 5px;
	width: 10%;
	text-align: center; 
}
#calendar-weather:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

.calendar-container{
	padding-top: 3px;
	padding-bottom: 20px;
}
.calendar-btn-container-left{
	width: 20%;
	display: grid;
	float: left;
	margin: 2px;
	grid-row-gap: 3px;
}
.calendar-btn-container-right{
	width: 20%;
	display: grid;
	float: right;
	margin: 2px;
	grid-row-gap: 3px;
}
#calendar-btn-sec{
	grid-row: 1;
	grid-column: 1;
	margin: auto;
	color: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
}

#calendar-btn-halfMin{
	grid-row: 1;
	grid-column: 2;
	margin: auto;
	color: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
}
#calendar-btn-min{
	grid-row: 2;
	grid-column: 1;
	margin-left: 10px;
}

#calendar-btn-fiveMin{
	grid-row: 2;
	grid-column: 2;
	margin-left: 10px;
}

#calendar-btn-night{
	grid-row: 1;
	grid-column: 1;
	height: fit-content;
	text-align: center; 
	vertical-align: center;
}

#calendar-btn-day{
	grid-row: 1;
	grid-column: 2;
	height: fit-content;
	text-align: center; 
	vertical-align: center;
}

#calendar-btn-quick{
	grid-row: 2;
	grid-column: 1;
	height: fit-content;
	text-align: center; 
	vertical-align: center;
}

#calendar-btn-long{
	grid-row: 2;
	grid-column: 2;
	height: fit-content;
	text-align: center; 
	vertical-align: center;
}

#calendar-btn-sec:hover {
	border: 0px solid #000;
	cursor: not-allowed;
}

#calendar-btn-halfMin:hover {
	border: 0px solid #000;
	cursor: not-allowed;
}

#calendar-btn-min:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

#calendar-btn-fiveMin:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

#calendar-btn-quick:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

#calendar-btn-long:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

#calendar-btn-day:hover {
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

#calendar-btn-night:hover{
	color: #FFF;
	border: 0px solid #000;
	cursor: pointer;
}

.calendar-weekday-time{
	display: grid;
	float: left;
	width: 55%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: auto;
	color: #CCC;
}
#calendar-weekday{
	grid-column: 1;
	grid-row: 1;
	text-align: center; 
	margin: auto;
	border-bottom: 1px solid #111;
}
.calendar-time{
	grid-column: 1;
	grid-row: 2;
	text-align: center; 
	margin: auto;
	cursor: pointer;
	display: inline-flex;
}
.calendar-time-disp{
	position: relative;
	bottom: 6px;
}