<form autocomplete="off" onsubmit="event.preventDefault();">
  <p class="notes">Instructions</p>
  <h3>Header</h3>
  <ol class="hotkey-list">
      <li>
          <h4>Menu</h4>
          <div id="calendar-keys">
              <span class="key">Esc</span>
          </div>
      </li>
      <li>
          <h4>Close</h4>
          <div class="keys">
              <span class="key">Esc</span>
          </div>
      </li>
      <li>
          <h4>Pause</h4>
          <div class="keys">
              <span class="key">Space</span>
          </div>
      </li>
  </ol>
</form>