<style>
  .calendar-season-container{
    display: grid;
    justify-items: center;
  }
  .calendar-season-name{
    grid-row: 1;
    grid-column: 1;
  }
  .calendar-season-temp{
    grid-row: 1;
    grid-column: 2;
  }
  .calendar-season-humidity{
    grid-row: 1;
    grid-column: 3;
  }
  .calendar-season-color{
    grid-row: 1;
    grid-column: 4;
  }
  .calendar-season-month{
    grid-row: 1;
    grid-column: 5;
  }
  .calendar-season-del{
    grid-row: 1;
    grid-column: 6;
    width: 40px;
  }

  /* Season Column Labels */
  .calendar-season-label-name{
    grid-row: 1;
    grid-column: 1;
  }
  .calendar-season-label-temp{
    grid-row: 1;
    grid-column: 2;
    padding-left: 75px;
  }
  .calendar-season-label-color{
    grid-row: 1;
    grid-column: 3;
  }
  .calendar-season-label-date{
    grid-row: 1;
    grid-column: 4;
  }
  .calendar-season-label-del{
    grid-row: 1;
    grid-column: 5;
    width: 40px;
  }

  .calendar-reEvent-item{
    padding-top: 5px;
    padding-bottom: 5px;
    outline-offset: 5px;
    border-bottom: 1px solid rgb(116, 0, 0);
  }

  .calendar-reEvent-container{
    display: grid;
  }
  .calendar-reEvent-name{
    grid-row: 1;
    grid-column: 1;
  }
  .calendar-reEvent-month{
    grid-row: 1;
    grid-column: 2;
  }
  .calendar-reEvent-month-value{}
  .calendar-reEvent-del{
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    width: 40px;
  }

</style>
<form autocomplete="off" onsubmit="event.preventDefault();" title="Calendar Events" class="calendar-events-container">
  <h1>Events</h1>
  <h2>Seasons(Under Construction)</h2>
  <div>
    <p>Enter the start date and weather modifiers for each season. Currently non-functional</p>
    <div class="calendar-season-container">
      <span class="calendar-season-label-name">
          Name
      </span>
      <span class="calendar-season-label-temp">
          Temperature Humidity
      </span>
      <span class="calendar-season-label-color">
        Color
      </span>
      <span class="calendar-season-label-date">
        Start Date
      </span>
      <span class="calendar-season-label-del">
        Delete
      </span>
    </div>
    <ol>
      {{#each seasons as |season|}}
      <li class="calendar-season-container">
        <input class="calendar-season" value="{{season.name}}" type="text" placeholder="ex. Autumn" title="Enter the season's name"id="calendar-season-{{@index}}">
        <select class="calendar-season-temp" title="Is the season hotter or colder than average?"id="calendar-season-temp-{{@index}}">
          <option value=" "> </option>
          <option value="+">+</option>
          <option value="-">-</option>
        </select>
        <select class="calendar-season-humidity" title="Is the season drier or wetter than average?" id="calendar-season-humidity-{{@index}}">
          <option value=" "> </option>
          <option value="+">+</option>
          <option value="-">-</option>
        </select>
        <select class="calendar-season-color" title="What color do you want to display with the season?"id="calendar-season-color-{{@index}}">
          <option value="red" style="background-color: red;">Red</option>
          <option value="orange" style="background-color: orange;">Orange</option>
          <option value="yellow" style="background-color: yellow;">Yellow</option>
          <option value="green" style="background-color: green;">Green</option>
          <option value="blue" style="color:white; background-color: blue;">Blue</option>
          <option value="white" style="background-color: white;">White</option>
        </select>
        <div class="calendar-season-month">
          <select  title="What month does the season start?" id="calendar-season-month-{{@index}}" onchange="
            let id = {{@index}}
            var element = document.getElementById('calendar-season-day-' + id),
              frag = document.createDocumentFragment();
            while(element.firstChild){
              element.removeChild(element.firstChild);
            }
            for(var i = 1, max=parseInt(this.options[this.selectedIndex].attributes['name'].value) + 1; i < max; i++){
              var option = document.createElement('option');
              option.value = i;
              option.appendChild(document.createTextNode(i));
              frag.appendChild(option);
            }
            element.appendChild(frag);
          ">
            {{#each ../months as |month|}}
              <option value="{{month.abbrev}}" title="What day does the season start?" name="{{month.length}}">{{month.abbrev}}</option>
            {{/each}}
          </select>
          <select id="calendar-season-day-{{@index}}"></select>
        </div>
        <button class="calendar-season-del" id="calendar-season-del-{{@index}}" name="del-season-{{@index}}" title="Delete Season">
          <i class="fas fa-trash-alt"></i>
        </button>
      </li>
      {{/each}}
    </ol>
    <button id="calendar-events-add-season" name="add-season" title="Add a new season">
      <i class="fas fa-plus"></i> Add Season
    </button>
  </div>
  <h2>Reoccuring Events</h2>
  <div>
    <p>Enter the date and description of reoccuring events such as holidays.</p>
    <ol>
      {{#each reEvents as |reEvent|}}
      <li class="calendar-reEvent-item">
        <div class="calendar-reEvent-container">
          <input class="calendar-reEvent-name" value="{{reEvent.name}}" type="text" placeholder="ex. Christmas" title="Name of the event"id="calendar-reEvent-{{@index}}">
          <div class="calendar-reEvent-month">
            <span> Start Date: </span>
            <select class="calendar-reEvent-month-value" title="Event start month" id="calendar-reEvent-{{@index}}" onchange="
            let id = {{@index}}
            var element = document.getElementById('calendar-reEvent-day-' + id),
              frag = document.createDocumentFragment();
            while(element.firstChild){
              element.removeChild(element.firstChild);
            }
            for(var i = 1, max=parseInt(this.options[this.selectedIndex].attributes['name'].value) + 1; i < max; i++){
              var option = document.createElement('option');
              option.value = i;
              option.appendChild(document.createTextNode(i));
              frag.appendChild(option);
            }
            element.appendChild(frag);
          ">
            {{#each ../months as |month|}}
              <option value="{{month.abbrev}}" title="What day does the event start?" name="{{month.length}}">{{month.abbrev}}</option>
            {{/each}}
            </select>
            <select class="calendar-reEvent-day" title="Event start day" id="calendar-reEvent-day-{{@index}}"></select>
          </div>
          <button class="calendar-reEvent-del" id="calendar-reEvent-del-{{@index}}" name="del-reEvent-{{@index}}" title="Delete reoccuring event.">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        <input title="Event text, supports @JournalEntry[]'s" class="calendar-reEvent-text" value="{{reEvent.text}}" id="calendar-reEvent-text-{{@index}}" type="text" placeholder="ex. @JournalEntry[EntryName] is an event">
      </li>
      {{/each}}
    </ol>
    <button id="calendar-events-add-reEvent" name="add-reEvent" title="Add a new reoccuring event">
      <i class="fas fa-plus"></i> Add Reoccuring Event
    </button>
  </div>
  <h2>One Time Events</h2>
  <div>
    <p>
      Enter the date and description of one time events, for example an assassination.
      The event will be deleted after it is triggered.
    </p>
    <button id="calendar-events-add-event" name="add-event" title="Add a new one time event">
      <i class="fas fa-plus"></i> Add One Time Event
    </button>
  </div>
  <button id="calendar-events-submit" type="submit" name="submit" title="Save Event Settings">
    <i class="far fa-save"></i> Save Events
  </button>
</form>